*{
    margin: 0;
    padding: 0;
}
.hero-container {
    display: flex;
    align-items: center;
    background-color: #fdeef1;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;

}
.hero-left, .hero-right {
    flex-basis: 50%;
}
h1{
    font-size: 55px;
    font-weight: bold;
}
button{
    padding: 10px 25px;
    color: white;
    background-color: #e45372;
    border-style: none;
    border-radius: 5px;

}
.hero-text{
    padding: 30px 0;
}
.hero-right{
    display: flex;
    justify-content: center;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #e6adc7;
}
.nav-menu a{
    text-decoration: none;
    color: #282526;
    padding-left: 30px;
}
.single-flower {
    text-align: center;
    
    background-color: #f2dee7;
    margin: 0 20px;
    border-radius: 300px 300px 0 0;

}
.flower-container{
    display: flex;
    justify-content: center;
}
.feature-text{
    text-align: center;
    padding: 50px 0;
}
.single-flower img{
    padding: 100px 100px 0 100px;
    
}
.flower-text{
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400;
    color: #282526;
}
.service-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 100px 100px;
    padding: 70px 50px;
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 4=500;
}
.service-container img{
    padding-bottom: 15px;
}
.offer-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fddae2;
    padding: 50px ;

}
.left-offer{
    text-align: center;
}
.left-offer p{
    padding: 20px;
}
.instagram-message{
    text-align: center;
}
.instagram-message p{
    padding: 10px;
}
.instagram-main{
    padding: 100px;
}
.insta-img{
    /* display: flex;
    justify-content: space-evenly;*/
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.subscribe{
    background-image: url('Flower Asset/Rectangle\ 9.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 150px;
}
.subscribe-container{
    margin-left: 100px;
    margin-right: 100px;
}
.input-item{
    width: 400px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.input-container{
    padding-top: 20px;
}
.footer-main{
    background-color: rgb(31, 29, 29);
    color: white;
    text-align: center;
    padding: 100px 100px;

    margin-top: 100px;

}
span{
    color: #e45372;
}
.footer-main p{
    padding-top: 20px;
    padding-bottom: 20px;
}